
body {
    margin: 0;
    height: 100vh;
}
.blue{
    background: #1F2937;
}

.white{
    background-color: white;
    padding: 80px;
}

.veryTop {  
    display: flex;
    justify-content: space-around;
}

.pepe {
    color: #488000;
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #b2b3b4;
}

.topRight{
    font-size: 18px;
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-top: 86px;
    padding: 30px;
}

.main {
    height: 350px;
}

.bigText{
    font-size: 48px;
    color: white;
    font-weight: bold;
    max-width: 400px;
}

.small{
    color: #E5E7EB;
    font-style: italic;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    max-width: 400px;
    gap: 18px;
}

.button{
    color: white;
    border-radius: 25px;
    background: #3882F6;
    padding: 20px;
    align-self: flex-start;
}

.center{
    text-align: center;
    margin-bottom: 34px;
    font-size: 36px;
    font-weight: bolder;
}

.sectionTwo {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.border{
    border: 5px solid #3882F6; 
    border-radius: 24px;
}

.emote{
    text-align: center;
    width: 150px;
}

.gray{
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 600px;
}

.creater{
    font-weight: bold;
    font-size: 24px;
    align-self: center;
}

.blueBox{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: royalblue;
    margin: 7em;
    padding: 8em;
    border-radius: 24px;
}

.s3Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.topText{
    font-size: 24px;
    font-weight: bold;
}

.botText{
    font-size: 16px;
}

.buttonTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 12px;
    color: white;
    border: 2px solid white;
    padding: 20px;
    width: 110px;
    height: 10px;
}

.s4{
    background: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    padding: 44px;
    text-align: center;
}
