.title,
.center{
    text-align: center;
}

.title{
    font-weight: bold;
    color:lightblue;
    background-color: blue;
    font-size: 60px;
}

.list{
    text-align: center;
    list-style-position: inside;
}