@font-face {
    font-family: "draw";
    src: url(img/fonts/PeterFonts-Regular.ttf);
}


body{
    background: url(img/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 5em;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: "draw";
    margin-left: 12em;
    margin-top: 1.5em;
}

.group{
    display: flex;
    gap: 1em;
}

#colors{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.btns{
    text-align: center;
}

.black{
    background-color: black;
}

.rgb{
    margin-top: 1em;
}

h3{
    font-family: "draw";
    margin:0;
}

.eraser{
    background-color: white;
}

.random{
    background: url(img/random.gif);
}

.black, .eraser, .random, .rgbBOX{
    padding: 3px;
    width: 3em;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    transition: .3s ease;
}

.black:hover, .eraser:hover, .random:hover{
    width: 3.3em;
    transition: .3s ease;
}

#pixels{
    display: block;
    background-color: white;
    width: 35em;
    aspect-ratio: 1 / 1;
    border: .5em solid black;
    box-shadow: .5em 1em 1em;
    border-radius: 10px;
}

div{
    width: 35em;
    aspect-ratio: 1 / 1;
    padding: 10;
} 

p{
    display: flex;
    margin: 0em;
}

#grid{
    transform:  translate(50%, 50%) rotate(-90deg);
}
